<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="phpFastCgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP8.1.5\php-cgi.exe" resourceType="Either" />
        </handlers>	
		<rewrite>
            <rules>
                <rule name="rule 1w" stopProcessing="true">
					<match url="(.*)$" ignoreCase="true" />
					<action type="Rewrite" url="/vic_api.php?request={R:1}" appendQueryString="true" />
				</rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>		
    </system.webServer>
</configuration>
